@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches:ital,wght@0,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,600&display=swap');

body {
  	margin: 0; line-height: normal;
}

